#weatherResults {
    background-color: #d46b24;
    font-family:  'Open Sans', 'Roboto', sans-serif;
    font-size: 24px;
    height:95vh;
    width: 98vw;
    text-align: center;
    border-radius: 10px;
}
h2{
    font-size: 25px;
}
.main_div{
    display: flex;
    flex-direction: row;
    background-color: azure;
    justify-content: space-around;
}