{% extends "layout.html" %}
{% block content %}
<div class="home">
  <html>

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/homepage.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"></script>
    <script type="text/JavaScript" src=" https://MomentJS.com/downloads/moment.js"></script>


    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {



        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Temprature');
        data.addRows([
        [new Date("{{ Chicago['forecast']['forecastday'][0]['date']}}"), {{ Chicago['forecast']['forecastday'][0]['day']['avgtemp_c']}} ],
        [new Date("{{ Chicago['forecast']['forecastday'][1]['date']}}"), {{ Chicago['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Chicago['forecast']['forecastday'][2]['date']}}"), {{ Chicago['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Chicago['forecast']['forecastday'][3]['date']}}"), {{ Chicago['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Chicago['forecast']['forecastday'][4]['date']}}"), {{ Chicago['forecast']['forecastday'][4]['day']['avgtemp_c']}}],
        [new Date("{{ Chicago['forecast']['forecastday'][5]['date']}}"), {{ Chicago['forecast']['forecastday'][5]['day']['avgtemp_c']}}],

]);

      var data1 = new google.visualization.DataTable();
      data1.addColumn('date', 'Date');
      data1.addColumn('number', 'Temprature');
      data1.addRows([
        [new Date("{{ Delhi['forecast']['forecastday'][0]['date']}}"), {{ Delhi['forecast']['forecastday'][0]['day']['avgtemp_c']}}],
        [new Date("{{ Delhi['forecast']['forecastday'][1]['date']}}"), {{ Delhi['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Delhi['forecast']['forecastday'][2]['date']}}"), {{ Delhi['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Delhi['forecast']['forecastday'][3]['date']}}"), {{ Delhi['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Delhi['forecast']['forecastday'][4]['date']}}"), {{ Delhi['forecast']['forecastday'][4]['day']['avgtemp_c']}}],
        [new Date("{{ Delhi['forecast']['forecastday'][5]['date']}}"), {{ Delhi['forecast']['forecastday'][5]['day']['avgtemp_c']}}],
      ]);
      var data2 = new google.visualization.DataTable();
      data2.addColumn('date', 'Date');
      data2.addColumn('number', 'Temprature');
      data2.addRows([
        [new Date("{{ Dubai['forecast']['forecastday'][0]['date']}}"), {{ Dubai['forecast']['forecastday'][0]['day']['avgtemp_c']}}],
        [new Date("{{ Dubai['forecast']['forecastday'][1]['date']}}"), {{ Dubai['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Dubai['forecast']['forecastday'][2]['date']}}"), {{ Dubai['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Dubai['forecast']['forecastday'][3]['date']}}"), {{ Dubai['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Dubai['forecast']['forecastday'][4]['date']}}"), {{ Dubai['forecast']['forecastday'][4]['day']['avgtemp_c']}}],
        [new Date("{{ Dubai['forecast']['forecastday'][5]['date']}}"), {{ Dubai['forecast']['forecastday'][5]['day']['avgtemp_c']}}], 
      ]);
      var data3 = new google.visualization.DataTable();
      data3.addColumn('date', 'Date of week');
      data3.addColumn('number', 'Temprature');
      data3.addRows([
        [new Date("{{ Paris['forecast']['forecastday'][0]['date']}}"), {{ Paris['forecast']['forecastday'][0]['day']['avgtemp_c']}}],
        [new Date("{{ Paris['forecast']['forecastday'][1]['date']}}"), {{ Paris['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Paris['forecast']['forecastday'][2]['date']}}"), {{ Paris['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Paris['forecast']['forecastday'][3]['date']}}"), {{ Paris['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Paris['forecast']['forecastday'][4]['date']}}"), {{ Paris['forecast']['forecastday'][4]['day']['avgtemp_c'] }}],
        [new Date("{{ Paris['forecast']['forecastday'][5]['date']}}"), {{ Paris['forecast']['forecastday'][5]['day']['avgtemp_c'] }}],
      ]);
      var data4 = new google.visualization.DataTable();
      data4.addColumn('date', 'Date');
      data4.addColumn('number', 'Temprature');
      data4.addRows([
        [new Date("{{ Toronto['forecast']['forecastday'][0]['date']}}"), {{ Toronto['forecast']['forecastday'][0]['day']['avgtemp_c']}}],
        [new Date("{{ Toronto['forecast']['forecastday'][1]['date']}}"), {{ Toronto['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Toronto['forecast']['forecastday'][2]['date']}}"), {{ Toronto['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Toronto['forecast']['forecastday'][3]['date']}}"), {{ Toronto['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Toronto['forecast']['forecastday'][4]['date']}}"), {{ Toronto['forecast']['forecastday'][4]['day']['avgtemp_c']}}],
        [new Date("{{ Toronto['forecast']['forecastday'][5]['date']}}"), {{ Toronto['forecast']['forecastday'][5]['day']['avgtemp_c']}}]

      ]);
      var data5 = new google.visualization.DataTable();
      data5.addColumn('date', 'Date');
      data5.addColumn('number', 'Temprature');
      data5.addRows([
        [new Date("{{ Rome['forecast']['forecastday'][0]['date']}}"), {{ Rome['forecast']['forecastday'][0]['day']['avgtemp_c']}}],
        [new Date("{{ Rome['forecast']['forecastday'][1]['date']}}"), {{ Rome['forecast']['forecastday'][1]['day']['avgtemp_c']}}],
        [new Date("{{ Rome['forecast']['forecastday'][2]['date']}}"), {{ Rome['forecast']['forecastday'][2]['day']['avgtemp_c']}}],
        [new Date("{{ Rome['forecast']['forecastday'][3]['date']}}"), {{ Rome['forecast']['forecastday'][3]['day']['avgtemp_c']}}],
        [new Date("{{ Rome['forecast']['forecastday'][4]['date']}}"), {{ Rome['forecast']['forecastday'][4]['day']['avgtemp_c']}}],
        [new Date("{{ Rome['forecast']['forecastday'][5]['date']}}"), {{ Rome['forecast']['forecastday'][5]['day']['avgtemp_c']}}]

      ]);
      var options = {
        width: 600, height: 300,
        curveType: 'function',
        hAxis: {
          format: 'yy-mm-dd',
          gridlines: { count: 15 }
        },
        legend: { position: 'bottom' }
      };
      
      options.hAxis.format === 'M/d/yy' ?
        options.hAxis.format = 'yyyy-mm-dd' :
        options.hAxis.format = 'M/d/yy';
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      var chart1 = new google.visualization.LineChart(document.getElementById('chart_div1'));
      var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
      var chart3 = new google.visualization.LineChart(document.getElementById('chart_div3'));
      var chart4 = new google.visualization.LineChart(document.getElementById('chart_div4'));
      var chart5 = new google.visualization.LineChart(document.getElementById('chart_div5'));
      
      
      chart.draw(data, options);
      chart1.draw(data1, options);
      chart2.draw(data2, options);
      chart3.draw(data3, options);
      chart4.draw(data4, options);
      chart5.draw(data5, options);


  }

    </script>
  </head>

  <body>
    <div class="div_container" style="margin:0px;padding:0px;
  width:700px;
  height:800px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 550px 650px;
  grid-row-gap: 0px;">

      <div>
        <p>Temprature in Toronto</p>
        <div id="chart_div4" style="margin:0px; padding:0px;"></div>
      </div>

      <div>
        <p>Temprature in Delhi</p>
      <div id="chart_div1" style="margin:0px; padding:0px;"></div>
      </div>

      <div>
        <p>Temprature in Dubai</p>
      <div id="chart_div2" style="margin:0px; padding:0px;"></div>
      </div>

      <div>
        <p>Temprature in Paris</p>
      <div id="chart_div3" style="margin:0px; padding:0px;"></div>
      </div>

      <div>
        <p>Temprature in Chicago</p>
      <div id="chart_div" style="margin:0px; padding:0px;"></div>
      </div>

      <div>
        <p>Temprature in Rome</p>
      <div id="chart_div5" style="margin:0px; padding:0px;"></div>
      </div>
</div>
</body>

</html>
</div>
{% endblock %}